<div class="row m-auto">
  <div class="col-12 justify-content-center" *ngIf="loadUserData">
    <div class="row m-auto">
      <div
        class="userList-card cursor col-12 p-3 mt-3"
        *ngFor="let data of userList"
      >
        <div class="row m-auto" (click)="getUserById(data?.id)">
          <div class="col-3">
            <h4>Avatar</h4>
            <img class="avatar-image" [src]="data?.avatar" alt="Avatar" />
          </div>
          <div class="col-3">
            <h4>First Name</h4>
            <p>{{ data?.first_name }}</p>
          </div>
          <div class="col-3">
            <h4>Last Name</h4>
            <p>{{ data?.last_name }}</p>
          </div>
          <div class="col-3">
            <h4>Email</h4>
            <p>{{ data?.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-end mt-3 pr-4 mb-2">
    <p-button
      class="mr-2"
      (click)="currentPage === 1 ? '' : prevPage()"
      [disabled]="currentPage === 1"
      label="Previous"
    ></p-button>
    <p-button
      (click)="currentPage === totalPages ? '' : nextPage()"
      [disabled]="currentPage === totalPages"
      label="Next"
    ></p-button>
  </div>
</div>
